<app-header></app-header>
<div id="menu">
  <div class="menu_content">
      <div routerLinkActive="current" class="button"><a [routerLink]="['users']">Users</a></div>
      <div routerLinkActive="current" class="button"><a [routerLink]="['blog']">Blog</a></div>
      <div routerLinkActive="current" class="button"><a [routerLink]="['about']">About</a></div>
      <div routerLinkActive="current" class="button"><a [routerLink]="['reservation']">Reservation</a></div>
      <div routerLinkActive="current" class="button"><a [routerLink]="['contact']">Contacts</a></div>
  
  </div>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>